.Home .lander {
 padding:10px 0;
 text-align: center;
}
.Home .lander h1 {
 font-family: "Open Sans", sans-serif;
 font-weight: 600;
}
.Home .lander p {
 color: #999;
}
.Home .notes h4 {
 font-family: "Open Sans", sans-serif;
 font-weight: 600;
 overflow: hidden;
 line-height: 1.5;
 white-space: nowrap;
 text-overflow: ellipsis;
}
.Home .notes p {
 color: #666;
}

.Home .SignupPage {
margin-left: 20px;
margin-right: 20px;
padding: 10px 0 50px;
box-shadow: 0 5px 10px 2px rgba(0,0,0,.4);
}
.Home .SignupPage form {
margin: 0 auto;
max-width: 320px;
}

.Home .SignupPage form span.help-block {
font-size: 14px;
padding-bottom: 10px;
color: #999;
}
