.Records .pop {
  padding: 0px 20px 50px 20px;
  margin: 20px 0 50px 0;
  background: #fefefe;
  box-shadow:
    /* The top layer shadow */
    0 1px 5px rgba(0,0,0,0.2);
    padding: 30px;
}

.Records .detail {
  padding: 0px 20px 50px 20px;
  margin: 20px 0 50px 0;
  background: #fefefe;
  padding: 30px;
}

.Records .button {
  text-align: right;
}

.Records .actionbutton{
  position: fixed;
  top: 3%;
  right: 10%;
  z-index: 11;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .Records .actionbutton{
    top: auto;
    bottom: 3%;
    left: 50%;
    margin-left: -25px;
  }
}
