.Records .visit-detail {
  padding: 0px 20px 50px 20px;
  margin: 20px 0 50px 0;
  background: #fefefe;
  box-shadow:
    /* The top layer shadow */
    0 1px 5px rgba(0,0,0,0.2),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
}

.Records .button {
  text-align: right;
}

.Records .actionbutton{
  position: fixed;
  top: 3%;
  right: 10%;
  z-index: 1;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .Records .actionbutton{
    top: auto;
    bottom: 3%;
    left: 40%;
  }
}
